<h2 class="mb-4">My Profile</h2>
<%= JSON.stringify(data) %>
<div class="card shadow-sm p-4">
  <p><strong>Username:</strong> <%= data.User.username %></p>

  <p><strong>Full Name:</strong> <%= data.fullName %></p>

  <p><strong>Address:</strong> <%= data.address %></p>

  <p><strong>Phone:</strong> <%= data.telp %></p>
</div>
